services:
  minion:
    build: .
    ports:
      - "21125:21125"
    volumes:
      - ./data:/app/data
      - ./credentials:/app/credentials
      - /home/enzolitos/silverbullet-kit/space:/app/silverbullet:rw
    env_file:
      - .env
    restart: unless-stopped
    environment:
      - TZ=America/Sao_Paulo
